<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   
   <h1>Create a Basketball Team!</h1>
   <form>
     <label>Team Name:</label>
     <input>
          <label>Team Name:</label>
     <input>
          <label>Team Name:</label>
     <input>
     <input id='Submit'>
   </form>
   
 </body>
</html>


