<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   
   <h1>Create a Basketball Team!</h1>
   
   <form method="POST" action="/newteam">
     
    <label>Team Name:</label>
    <input>
    
    <label>Coach:</label>
    <input>
    
    <label>Point Guard:</label>
    <input>
    
    <label>Shooting Guard:</label>
    <input>
    
    <label>Small Forward:</label>
    <input>
    
    <label>Center:</label>
    <input>
    
     <input id='Submit'>
   </form>
   
 </body>
</html>


